

<form method="post" action="/State/Search">
    <fieldset>
        <legend>Search for State</legend>
        <div class="editor-label">
            <label for="rating">State Name </label>
        </div>
                <div class="editor-field">
            <input type="text" name="name" id="name" value="" />
        </div>
        <input type="submit" value="Search" />
    </fieldset>
 </form>